.botao-tela-inicial{
  background-color: #4a5594;
  width: 100px;
  height: 20px;
  border-radius: 20px;
  color: white;
  border: 0;
  cursor: pointer;
}
.botao-tela-inicial:hover{
    background-color: #6875bb;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    color: white;
    border: 0;
    cursor: pointer;
}